@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Syne+Mono&display=swap');

* {box-sizing: border-box;}

body {
    background-color: #fcf2f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-weight: 100;
    margin: 20px 0 50px 0;
}

p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
}

#rock, #paper, #scissors {
    transition: all .1s ease;
}

.replay-transition {
    transition: all .1s ease;
}

.replay {
    visibility: hidden;
}

.pushed {
    transform: scale(1.2);
}

.game-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-images {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
}

.left, .right {
    margin: 20px 0;
    width: 124px;
    height: 190px;
    border: 2px solid black;
    border-radius: 5px;
}

.left p, .right p {
    margin: 0;
    text-align: center;
}

.output-text {
    margin: 0 0 20px 0;
    width: 380px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.output-text p {
    margin: 2px 10px;
}

.output-text :first-child {
    margin-top: 10px;
}

.output-text :last-child {
    margin-bottom: 10px;
}

button {
    padding: 15px;
    margin: 6px;
    font-size: 20px;
}